<% content_for :title do %>Search Results<% end %>

<div class="container">

    <div class="row">
    <% @books.each do |book| %>
        
            <div class="col s12 m6 l4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img activator" src="<%= book.image_url %>">
                    </div>
                    <div class="card-content">
                        <span class="truncate card-title activator grey-text text-darken-4"><%= book.title %><i class="material-icons right">more_vert</i></span>
                        <a target="_blank" href="<%= book.good_link %>">GoodReads</a> | 
                        <a target="_blank" href="<%= book.amazon_link %>">Amazon</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= book.title %><i class="material-icons right">close</i></span>
                        <p><b>Author: </b><%= book.author_name %></p>
                        <p><b><%= book.title %></b> has <b><%= book.num_pages %></b>. It was published in <b><%= book.publication_year %></b> by <b><%= book.publisher %></b>. On GoodReads, it has a rating of <b><%= book.average_rating %></b></p>.
                        <p><b>Other cool stats:</b></p>
                        <p>For JeffReads users, there's been <%= book.searches.count %> users who've also read this book.</p>

                    </div>
                </div>
            </div>
        
    <% end %>
    </div>

</div>